
.jumbotron {
    background: url(${imgUrl}) no-repeat fixed bottom;
    background-size: cover;
    color: #efefef;
    height: 450px;
    position: relative;
  }
  .jumbotron550 {
    background: url(${imgUrl}) no-repeat fixed bottom;
    background-size: cover;
    color: #efefef;
    height: 550px;
    position: relative;
  }
  .overlay {
    background-color: #000;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }